In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
read_file = pd.read_csv (r'trdata.txt', header = None)
read_file.columns = ['SR','0','1','2','3','4','5','6','7','8','9','10','11','12','N']
read_file.to_csv (r'Data.csv',index = None)

In [ ]:
# read = pd.read_csv(r'test1.txt',header =None)
# read.to_csv (r'test1.csv', index=None)
# T = pd.read_csv('test1.csv')
# T

       0   1    2  3    4    5     6     7  8    9    10     11   12
0  0.006  18  2.3  0  0.5  6.5  65.2  4.09  1  296  15.3  296.9  4.9

# New Section

In [ ]:
D = pd.read_csv('Data.csv')
D

      SR         0     1      2  3      4  ...   8    9    10      11     12     N
0      1   0.00632  18.0   2.31  0  0.538  ...   1  296  15.3  396.90   4.98  24.0
1      2   0.02731   0.0   7.07  0  0.469  ...   2  242  17.8  396.90   9.14  21.6
2      3   0.02729   0.0   7.07  0  0.469  ...   2  242  17.8  392.83   4.03  34.7
3      4   0.03237   0.0   2.18  0  0.458  ...   3  222  18.7  394.63   2.94  33.4
4      5   0.06905   0.0   2.18  0  0.458  ...   3  222  18.7  396.90   5.33  36.2
..   ...       ...   ...    ... ..    ...  ...  ..  ...   ...     ...    ...   ...
476  477   4.87141   0.0  18.10  0  0.614  ...  24  666  20.2  396.21  18.68  16.7
477  478  15.02340   0.0  18.10  0  0.614  ...  24  666  20.2  349.48  24.91  12.0
478  479  10.23300   0.0  18.10  0  0.614  ...  24  666  20.2  379.70  18.03  14.6
479  480  14.33370   0.0  18.10  0  0.614  ...  24  666  20.2  383.32  13.11  21.4
480  481   5.82401   0.0  18.10  0  0.532  ...  24  666  20.2  396.90  10.74  23.0

[481 rows x 15 columns]

In [ ]:
D.drop(D.columns[[0]], axis = 1, inplace = True)
D

            0     1      2  3      4      5  ...   8    9    10      11     12     N
0     0.00632  18.0   2.31  0  0.538  6.575  ...   1  296  15.3  396.90   4.98  24.0
1     0.02731   0.0   7.07  0  0.469  6.421  ...   2  242  17.8  396.90   9.14  21.6
2     0.02729   0.0   7.07  0  0.469  7.185  ...   2  242  17.8  392.83   4.03  34.7
3     0.03237   0.0   2.18  0  0.458  6.998  ...   3  222  18.7  394.63   2.94  33.4
4     0.06905   0.0   2.18  0  0.458  7.147  ...   3  222  18.7  396.90   5.33  36.2
..        ...   ...    ... ..    ...    ...  ...  ..  ...   ...     ...    ...   ...
476   4.87141   0.0  18.10  0  0.614  6.484  ...  24  666  20.2  396.21  18.68  16.7
477  15.02340   0.0  18.10  0  0.614  5.304  ...  24  666  20.2  349.48  24.91  12.0
478  10.23300   0.0  18.10  0  0.614  6.185  ...  24  666  20.2  379.70  18.03  14.6
479  14.33370   0.0  18.10  0  0.614  6.229  ...  24  666  20.2  383.32  13.11  21.4
480   5.82401   0.0  18.10  0  0.532  6.242  ...  24  666  20.2  396.90  10.74  23.0

[481 rows x 14 columns]

In [ ]:
X = D.drop('N',axis =1)
y= D['N']

# Scaling the data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
data_scaled = scaler.fit_transform(X)

In [ ]:
dataset = pd.DataFrame(data_scaled)
dataset.head()

         0         1         2   ...        10        11        12
0 -0.423981  0.254568 -1.267055  ... -1.408279  0.449569 -1.058835
1 -0.421592 -0.503358 -0.563191  ... -0.263046  0.449569 -0.481360
2 -0.421594 -0.503358 -0.563191  ... -0.263046  0.405880 -1.190710
3 -0.421016 -0.503358 -1.286279  ...  0.149237  0.425202 -1.342019
4 -0.416841 -0.503358 -1.286279  ...  0.149237  0.449569 -1.010249

[5 rows x 13 columns]

# Getting Polynomial features

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
pft = PolynomialFeatures(degree = 2)
data_poly = pft.fit_transform(dataset)

In [ ]:
print(data_poly)

[[ 1.         -0.42398101  0.25456774 ...  0.20211261 -0.4760196
   1.12113075]
 [ 1.         -0.42159182 -0.50335782 ...  0.20211261 -0.21640463
   0.23170728]
 [ 1.         -0.42159409 -0.50335782 ...  0.16473831 -0.48328494
   1.41779   ]
 ...
 [ 1.          0.74007255 -0.50335782 ...  0.07019047  0.19942041
   0.56657974]
 [ 1.          1.20683542 -0.50335782 ...  0.09229078  0.02118657
   0.00486366]
 [ 1.          0.23821853 -0.50335782 ...  0.20211261 -0.11655271
   0.06721271]]

In [ ]:
data_poly = pd.DataFrame(data_poly)

In [ ]:
data_poly.head()

   0         1         2         3    ...       101       102       103       104
0  1.0 -0.423981  0.254568 -1.267055  ...  1.491135  0.202113 -0.476020  1.121131
1  1.0 -0.421592 -0.503358 -0.563191  ...  0.126620  0.202113 -0.216405  0.231707
2  1.0 -0.421594 -0.503358 -0.563191  ...  0.313212  0.164738 -0.483285  1.417790
3  1.0 -0.421016 -0.503358 -1.286279  ... -0.200280  0.180797 -0.570629  1.801016
4  1.0 -0.416841 -0.503358 -1.286279  ... -0.150767  0.202113 -0.454177  1.020603

[5 rows x 105 columns]

# Selecting 13 best features

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [ ]:
test = SelectKBest(score_func=f_classif, k=13)
fit = test.fit(data_poly,y)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [0] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [ ]:
test = test.get_support(indices=True)

In [ ]:
print(test)

[  1  13  16  18  19  20  21  22  23  24  26  98 103]

In [ ]:
dataframe = data_poly.columns[[1 , 13 , 16 , 18 , 19,  20,  21 , 22 , 23 , 24 , 26 , 98, 103]]

In [ ]:
print(fit.scores_)

[       nan 3.81423519 1.67977856 2.21368347 1.14425393 2.36787442
 2.59919606 2.3226414  1.60532086 2.11084224 2.40268296 1.6943261
 1.72751068 5.75715094 1.67282749 2.19835486 2.97908924 1.41739856
 3.81306854 2.74015136 2.7728075  2.86267723 3.39010774 3.31541279
 3.02514926 1.22573391 8.07865909 1.48135974 1.2724174  0.49039938
 1.36393922 1.41319163 1.61682948 0.83854996 1.51787959 1.33645484
 1.58591256 1.41062995 1.70631549 0.91785627 0.92913843 1.18032261
 1.09383154 1.33524747 0.95101477 1.36478267 1.58130825 1.16478698
 1.24425883 1.98256092 1.14425393 1.13843625 0.84675077 0.87401395
 0.81265368 0.62955098 0.74340463 0.86682572 0.57787351 0.85664426
 0.97291352 1.08655755 1.26479248 0.90809261 1.38890049 1.56298717
 1.07157918 1.05648305 1.72821517 1.74904575 1.58879266 1.43560278
 1.45778395 1.48338275 2.10623537 1.80049215 2.00962349 1.48341448
 1.00725071 1.46743249 1.66793768 1.18840058 1.28993097 1.68467645
 0.70711728 1.43385896 1.41371718 1.27161333 1.2990783  1.5743158
 2.11141056 1.86027539 1.69832536 1.63720931 2.48756154 1.66548656
 1.7974613  1.59238378 2.7185558  2.24909197 1.37654549 1.26043753
 1.6216542  2.83013341 2.69126566]

In [ ]:
featured_data = fit.transform(data_poly)

In [ ]:
print(featured_data)

[[-0.42398101 -1.05883462  0.53720746 ...  0.44892577  0.68116867
  -0.4760196 ]
 [-0.42159182 -0.48135983  0.23743662 ...  0.20293736  0.46590356
  -0.21640463]
 [-0.42159409 -1.19070987  0.2374379  ...  0.50199625  1.15247667
  -0.48328494]
 ...
 [ 0.74007255  0.75271491  0.79026686 ...  0.55706365  1.189737
   0.19942041]
 [ 1.20683542  0.06973992  1.28868721 ...  0.0841646   0.11023052
   0.02118657]
 [ 0.23821853 -0.25925414  0.25437534 ... -0.06175914 -0.40977564
  -0.11655271]]

In [ ]:
featured_data.shape

(481, 13)

# Ridge on best 105 features

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( data_poly, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha = 100, max_iter= 1000, tol=0.1)
ridge_reg.fit(X_train,y_train)

Ridge(alpha=100, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, random_state=None, solver='auto', tol=0.1)

In [ ]:
ridge_reg.score(X_train,y_train)

0.8834228630793052

In [ ]:
predicted_y = ridge_reg.predict(X_test)

In [ ]:
predicted_y

array([23.35141179,  7.16984006, 14.0458877 , 26.95158074,  6.9025641 ,
       19.09899668, 16.57643196, 10.2938494 , 21.57464845, 16.58343584,
       19.20543214, 40.83384017, 17.01640927, 32.26374714, 17.14370971,
       24.17167434, 34.3343174 , 15.3498511 , 17.424111  , 45.9761497 ,
       36.92156622, 20.59719241, 24.50993177, 19.51188117, 20.47708966,
       15.25585232, 14.60127073, 21.89040223, 26.67880598, 27.74138322,
       25.50709518, 19.63880707, 41.03640464, 29.10061513,  8.93082665,
       21.92061236, 18.42985033, 25.38884766, 21.56870532, 18.86692494,
       23.79427577, 23.63731708, 25.24250487, 30.67681304, 28.88912544,
       24.44142618, 16.43261368, 21.07899472, 13.23917503, 25.17673951,
       15.84306756, 17.73967463, 21.5206023 , 21.13038975, 15.23164062,
       12.28347009, 23.85237342, 24.54162289, 13.18102871, 19.40850415,
       19.81092618, 25.02654482, 20.96744313, 19.4793506 , 15.26657652,
       32.27845662, 19.13483913, 18.70516647, 22.39277283, 22.10031763,
       24.03035278, 20.69786392, 22.9337438 , 13.80195814, 16.78229627,
       28.86104926, 25.0946592 , 17.81637455, 22.72309498, 22.38994948,
       21.02283677, 20.20755166, 17.0749313 , 10.21389821, 19.327693  ,
       20.95738586, 23.66929508, 23.68920839, 17.35166974, 19.74885813,
       23.9277863 , 29.71758816, 26.35852428, 15.24168144, 17.86837538,
       21.68806578, 21.34784293, 38.08784205, 20.68916202, 24.76321508,
       37.9570138 , 13.85396206, 14.67530505, 20.97578777, 19.70050713,
       32.43427747, 23.96361363, 17.95873715, 18.90801768, 21.58653856,
       16.88033573, 18.26723294, 20.62399077, 19.30696928, 24.50387665,
       29.59725047, 23.41422427, 29.36729933, 14.23431187, 17.93291083,
       18.85218596, 20.85230852, 16.11494466, 22.30595379, 18.9094804 ,
       24.32413063, 19.51357753, 21.8301165 , 15.79576742, 21.38944963,
       21.8470788 , 21.53507534, 24.96249837, 16.92054142, 48.61209316,
       26.20393995, 17.54581688, 24.27864391, 21.9319272 , 20.61524714,
       21.48703059, 11.36742674,  7.9858194 , 29.6756092 ,  6.23763803,
       18.99266254, 20.90238932, 18.43237501, 12.00345085, 21.34166896,
       14.71377659, 32.49588128, 18.15220647, 19.35516787,  7.83166245,
       21.22404527, 21.94441565, 33.30851459, 15.66536246])

In [ ]:
ridge_reg.score(X_test,y_test)

0.8644937456096854

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test ,predicted_y, squared=False)

2.9722154791319686

# **Bulding and fitting using the RidgeCV model**

In [ ]:
# define model evaluation method

from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold

cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

In [ ]:
# define model
model = RidgeCV(alphas = np.arange(0, 1, 0.001), cv=cv, scoring='neg_mean_absolute_error')

In [ ]:
# fit model
results = model.fit(data_poly, y)

In [ ]:
# summarize chosen configuration
print('alpha: %f' % model.alpha_)

alpha: 0.999000

In [ ]:
print(results.score(data_poly,y))

0.9296349577901027

In [ ]:
pred=model.predict(data_poly)

In [ ]:
print(pred)

[25.29331505 22.94013008 32.67629332 31.98711304 32.0549476  26.07695077
 20.42278039 18.05003774 16.35419971 19.42082168 19.88447435 19.64029506
 21.61777648 19.19820846 17.78552378 19.0602118  21.18679368 16.60435656
 15.40538757 17.9259918  14.02632317 16.23419873 15.08550279 13.58149179
 14.84430625 15.03339045 15.3440229  15.59984512 16.98152793 18.73290144
 14.44661909 15.83948616 16.72031241 14.73364016 15.07175718 22.39787634
 21.4780079  22.14816141 23.49653844 29.40002485 35.5145262  31.31345163
 23.63782809 24.98699367 22.16895509 19.20686921 20.99787007 19.67006017
 19.60057482 18.63940296 20.71129536 21.38657819 27.57178025 21.69914933
 20.08306063 32.53437051 23.39092997 30.38017513 20.46296739 18.75159777
 16.82698658 16.94663873 22.51617133 24.35631113 31.26236231 26.08670126
 18.34724226 19.45156777 16.91009494 19.01990656 24.94708708 19.57276584
 21.50971312 22.71271992 26.11346977 22.8343832  20.20349701 21.76717369
 20.44662799 20.38058815 28.62034304 24.63438263 24.6810517  22.60941806
 25.38828511 27.81345238 23.15680406 24.67534657 28.52082782 31.23546076
 25.67274779 25.16769758 25.63176803 25.14570292 21.45288644 28.06827863
 23.27030004 38.66294744 42.25144941 34.10099263 24.01512241 26.19928932
 18.01597308 19.76472223 20.84674361 18.45526271 17.75451159 20.93943957
 20.39957314 18.61135417 23.45650906 23.9003562  16.76612052 16.00874151
 22.37055787 17.42977114 21.30430955 20.79921674 18.55083604 19.43667618
 21.56951845 21.7406008  19.70138371 17.17563612 18.77865612 21.07706683
 15.22400545 16.35990566 18.54727995 15.98042707 20.79127321 20.90950823
 21.82660696 17.96778073 14.73056962 17.4091751  17.15473537 19.25356658
 14.1655659  16.13209192 13.98883606 12.37626643 13.52396842 14.22117574
 13.49572647 18.54143807 15.69368274 14.62321687 16.03126671 16.57603738
 21.25322272 16.30186127 14.94131703 17.46400857 15.457687   15.14672384
 12.53368786 37.4526206  27.14881851 27.57541568 32.86598715 46.99315361
 47.48671208 48.72603715 21.98989521 22.87680012 48.75459862 19.49584672
 25.03020649 26.03054548 19.870623   21.25847287 19.72996989 26.30336928
 23.42266634 31.1091435  23.86838552 26.28739355 30.49963162 36.29085549
 38.78309797 28.5805906  35.7057414  30.73294907 22.57841574 26.25823359
 43.98301005 31.54591728 29.71931611 34.23566525 30.37933791 27.8770545
 33.80270429 32.1065872  28.4411812  48.00717285 36.13190522 30.52274785
 33.74865153 33.05196475 34.4020574  22.2135686  43.01601022 48.14060821
 51.47819592 21.85637006 23.41089031 17.55282599 22.98821395 19.73893789
 20.33946555 19.82899415 22.64270985 25.39573329 25.96995655 23.29519901
 23.37653363 27.77101705 19.86466892 25.90948363 27.84537209 20.0579637
 28.21449157 28.16599226 44.08715996 46.70227828 42.0382326  32.90108947
 43.10290579 30.71504692 21.8728582  34.90940917 45.07425992 43.31413778
 28.68306934 22.92450486 27.59957553 34.41588779 25.54372866 25.66103928
 25.90977066 18.8707827  21.40023495 24.31316243 16.14432852 15.81634543
 20.12918661 19.62099716 21.5753004  26.27402547 24.64057184 23.91570709
 29.7832469  44.33281696 20.83940327 19.55360813 39.06754967 52.94226497
 35.06341362 31.34590349 35.08817117 38.39351472 47.52702756 32.93092283
 34.85660361 22.41451644 30.43329605 51.09217615 45.96512871 23.23748805
 20.21959806 25.68959011 26.23527005 33.17094955 33.55381499 32.79644831
 32.48310701 32.98478556 27.84501878 35.75882546 45.49141616 35.8075039
 43.93537092 50.22484104 32.94709539 23.15434352 20.4449963  21.65106863
 22.05168577 24.37485005 31.35441508 33.91835057 28.67455436 22.71102811
 20.60360237 30.29190601 27.6373008  18.70719488 23.73208038 32.53367196
 26.96034015 25.33851603 25.69267149 32.76135404 35.43274291 30.12852878
 37.00055793 32.33028063 26.34743873 19.79295886 14.3311688  24.39428906
 18.69130539 21.91988827 22.33069341 17.17040455 16.52061889 17.33172984
 22.52547463 20.78075096 24.75442298 24.42324802 21.88698101 18.34106268
 25.41322066 26.25575227 24.50736521 21.63055373 18.92843322 23.01025343
 19.09493455 17.62871593 19.73845358 23.82400479 23.75203371 21.99843242
 20.71972873 20.24347305 22.61282601 21.77512104 21.16090112 31.30894282
 17.71588714 24.72462958 29.82129831 19.31659314 18.38166507 25.01370658
 26.55670864 26.58328844 22.69310652 24.63102019 21.39291776 32.55804392
 18.69123361 20.2003733  21.60095127 17.14714082 23.27714041 19.11299667
 24.6300295  17.82061886 23.45431096 20.05677556 25.65390475 30.80823704
 23.24667868 23.79092083 41.95677486 48.22157408 50.63739199 31.58223859
 43.93667555 10.31592153 13.05387262 21.22305955 12.0686503  13.30407351
 10.08479702 12.09643213 12.43806747 12.36572494 12.09122258 11.85641417
 11.72666288  7.69725929  8.26939966  8.13596471  9.58277815 14.73614494
 17.52712016 16.15041043 11.26100444 19.1854751  16.38964035 16.6268745
 15.22562687 15.46241546  4.6065722  10.10139958  6.1638041  12.25413447
 13.40775232 10.18560372  7.04053918  1.83897959 15.33909303 25.41263686
 14.90670259 18.98380169 16.29987163 16.69090051 13.64122597 15.48839278
 11.24204941  8.45575278  9.08452291  9.72822621  7.11145089  9.48455617
 17.52719863 18.53023715 21.97448631 11.24221314 12.21422272 10.37121574
 11.57694568  9.77720317 12.35287248 11.21470879 17.84725627 16.86086459
 22.08375787 16.41792261 15.78242474  9.28823333 11.97368812  7.77843135
  6.0859475  10.49508864  7.01062126 11.03574647 15.51965326 11.4084119
  9.80623191  8.91939657 14.81511427 13.92433381 13.41009891 13.83476081
 14.19983571 14.8907288  15.98419103 14.08625142 12.61139226 13.85402253
 12.69712008 11.33984068 15.98735105 17.70480927 17.00292388 19.06567999
 18.50475104 22.87659288 20.6882941  19.71140097 14.73406691 16.22972789
 15.3202938  18.60349562 19.9085782  24.99959853 22.78122427 26.73236548
 19.42354906 13.89453644 17.60984232 12.66234618 17.76523141 22.74589725
 24.96170364]

In [ ]:
pred.size

481

**Calculating the Mean Squared Error**

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_true=y, y_pred=model.predict(data_poly))

6.1257199916868945

# **Bulding and fitting the Ridge Regression model**

In [ ]:
# dividing the data into training set and test set
X_train, X_test, y_train, y_test = train_test_split(data_poly, y, test_size = 0.40, random_state = 42)

In [ ]:
# Declare a list to maintain the different cross-validation scores 
# cross_val_scores_ridge = []

In [ ]:
# Declare a list to maintain the different values of alpha 
# alpha = []

In [ ]:
# loop to compute the different values of cross validation scores
#for index in range (1, 15):
#  ridgeModel = Ridge(alpha = index * 0.25)
#  ridgeModel.fit(X_train, y_train)
#  scores = cross_val_score(ridgeModel, X, y, cv = 10)
#  avg_cross_validation_score = mean(scores)*100
#  cross_val_scores_ridge.append(avg_cross_validation_score)
# alpha.append(index * 0.25)

In [ ]:
# Loop to print the different values of cross-validation scores 
#for i in range (0, len(alpha)):
#  print(str(alpha[i])+ ' : '+ str(cross_val_scores_ridge[i]))

**From the above output, we can conclude that the best value of alpha for the data is 0.0512.**

In [ ]:
# Building and fitting the Ridge Regression model 
ridgeModelChosen = Ridge(alpha = 50) 
ridgeModelChosen.fit(X_train, y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [ ]:
predictionTestSet = ridgeModelChosen.predict(X_test)

In [ ]:
print(predictionTestSet)

[22.93152203  7.03524249 13.24604025 27.24622412  6.28690608 18.39371755
 16.83506241  9.85664726 21.43747976 16.59895225 18.14955109 41.87599469
 16.07493418 32.39190041 16.21201256 24.49098508 33.53369876 14.74942862
 16.51539915 45.47995399 37.60550368 20.96110714 24.40688396 19.02967551
 20.48684834 14.86880122 14.12084794 21.71158948 26.77664175 27.6271463
 25.54415456 18.59395426 41.82203819 29.52488631  8.45946118 21.73381279
 18.88675016 25.46037412 22.1738339  17.3303223  23.74250988 23.81170966
 25.46059582 30.48662578 28.67173388 24.61033574 16.50876981 20.92593479
 13.78979744 25.23887987 15.64404369 17.59493913 21.32727258 21.97564269
 14.87142912 11.0338509  23.97166895 25.11581145 13.3187231  18.77737713
 19.93104303 25.67409801 20.75049609 19.51728964 15.31106348 32.22152102
 18.51977017 17.86274778 21.90917891 21.41396111 24.21636791 20.2291567
 22.11414761 14.92483602 16.82314181 29.272243   25.15286323 17.98993614
 22.35163737 22.44221347 21.49136458 19.66444737 17.3859044   9.256734
 18.74762147 20.63028304 23.88093736 22.70962712 17.59034925 18.53419955
 24.1460987  29.59282316 26.491472   14.93024114 16.90672738 21.33765741
 21.57047279 39.1428499  20.7867099  24.50998038 37.99466077 13.75977145
 14.04292403 19.99740308 18.27338961 32.97710355 23.98483357 17.25256992
 18.22066726 21.20879472 16.46728214 16.41768397 20.72389832 18.61482876
 25.76744785 28.13280176 23.21069927 29.42141415 13.95165746 17.11706836
 18.23440585 19.66386416 16.07315882 22.18259457 18.28052081 24.53923451
 19.32330433 21.41771644 15.55276389 21.27248146 21.79976248 21.12469732
 25.40610506 15.93502967 48.20038668 26.47190831 17.76324768 24.56358946
 21.76317107 20.01389974 20.67899568 11.17183938  7.60108207 30.48929356
  6.80094977 18.23491526 20.6601424  18.52140412 11.77333452 21.07110194
 14.64346596 33.26751482 17.32170492 18.17673995  8.22024008 21.28062654
 21.57105181 34.71185813 15.62206755 19.12201363 23.11766296 30.68431869
 10.30915457 13.75108702 22.04729947 26.37528743 27.9525403  32.17397996
 30.78255476 11.03624253 12.64340095 26.03409029 20.02568746 32.00879213
 24.5465687  11.04810622 45.45015938 31.16963315 18.97396857 28.90817266
 17.32787548 16.96539043 18.04529073 15.07458755 24.01953728 22.06198008
 18.76346065 22.66860357 18.38798509 20.63788912 23.75345304 23.78799138
 12.56327857]

In [ ]:
predictionTestSet.size

193

In [ ]:
# print(ridgeModelChosen.coef_)

In [ ]:
# Evaluating the Ridge Regression model 
print(ridgeModelChosen.score(X_test, y_test))

0.8793793286691289

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, predictionTestSet)

11.668795536149672